doctype html
html(lang="en")
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h2 #{subject}

      ul
      li <b>Jmeno: </b> #{name}
      li <b>Email: </b> #{email}

      p <b>Zprava: </b>
      p #{message}

      p Tento email byl odeslan z www.templeofcreation.cz